.cls-1 {
    opacity: 0.867;
    fill: url(#linear-gradient);
  }
  
  .cls-2 {
    fill: #707070;
    opacity: 0.202;
  }
  
  .cls-3 {
    fill: #f0f0f0;
  }
  
  .cls-4 {
    opacity: 0.601;
    clip-path: url(#clip-path);
  }
  
  .cls-5 {
    clip-path: url(#clip-path-2);
  }
  
  #image {
    width: 160%;
    height: 100%;
  }
  
  .clsh-1 {
    opacity: 0.867;
    fill: url(#linear-gradient);
  }
  
  .clsh-2 {
    fill: #707070;
    opacity: 0.202;
  }
  
  .clsh-3 {
    fill: #f0f0f0;
  }
  
  .clsh-4 {
    opacity: 0.601;
    clip-path: url(#clip-path);
  }
  
  .clsh-5 {
    clip-path: url(#clip-path-2);
  }
  
  #images {
    width: 160%;
    height: 100%;
  }
  
  .clsp-1 {
    opacity: 0.867;
    fill: url(#linear-gradient);
  }
  
  .clsp-2 {
    fill: #707070;
    opacity: 0.202;
  }
  
  .clsp-3 {
    fill: #f0f0f0;
  }
  
  .clsp-4 {
    opacity: 0.601;
    clip-path: url(#clip-path);
  }
  
  .clsp-5 {
    clip-path: url(#clip-path-2);
  }
  
  #imagepeo {
    width: 160%;
    height: 80%;
  }
.clsg-1 {
    opacity: 0.867;
    fill: url(#linear-gradient1);
}

.clsg-2 {
    fill: #707070;
    opacity: 0.202;
}

.clsg-3 {
    fill: #f0f0f0;
}

.clsg-4 {
    opacity: 0.601;
    clip-path: url(#clip-path1);
}

.clsg-5 {
    clip-path: url(#clip-path-21);
}

#imageguy {
    width: 160%;
    height: 85%;
}